---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <!-- Titulo -->
<div class="titulos-base">
  <h1 class="titulos">Convenio Interinstitucional IFR, Universidad de Los Lagos</h1>
</div>
    <!-- Descripcion -->
<div> 
    <p class="cards-big">
        Este convenio busca fortalecer la articulación entre el Liceo Aytue y el Instituto Tecnológico Regional de la Universidad de Los Lagos, aportando continuidad de estudios y reconocimiento académico para nuestros estudiantes de la especialidad Conectividad y Redes. <br><br>
        Los estudiantes de la especialidad de Conectividad y Redes, a partir del año 2024, y gracias al Convenio de Cooperación interinstitucional
        realizado el 18 de agosto de 2023, cuya Resolución es la N°1354, en donde se convalidarán asignaturas aprobadas en el Liceo, en el Instituto Tecnológico 
        Regional de la Universidad de Los Lagos (IFR), sede Castro, podrán acceder a rebajar la carga de ramos en el mismo Instituto, lo que significa mayor disponibilidad 
        de tiempo para abocarse a las asignaturas restantes del Plan de Estudio. Junto con lo anterior, también aquellos estudiantes que lo deseen y cuenten con los requisitos 
        establecidos por dicha Universidad, podrán optar a Ingenierías de la especialidad de Informática una vez finalizados sus estudios de Técnico de nivel Superior. <br><br>
        Liceo Aytue, con su especialidad TP, en Conectividad y Redes, proyecta a sus estudiantes desde sus aulas hasta la Educación Superior, cumpliendo su Visión como Unidad Educativa centrada en sus jóvenes.
    </p>
</div>
<!-- Redes Sociales Publicaciones -->
<div class="container mx-auto py-10 mb-10">
    <div class="flex justify-center gap-10">
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcorpocas%2Fposts%2Fpfbid02WTnZ4LHEvzT4jQyW2vmVw9RBeKT3osWutw5kwbnfSE5iVmhYE6G8F6KUJjWVykMdl&show_text=true&width=500" width="500" height="888" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" class="ml-10"></iframe>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FULagosChiloe%2Fposts%2Fpfbid02xKtwGBKX23pDFgSfpE73DUxMZTejAUNxYmcNR4HU93SMB9ZY4ewVMMh3shxur2tBl&show_text=true&width=500" width="500" height="565" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" class="bg-white"></iframe>
    </div>
</div>
</Layout>