---
import Layout from "../layouts/Layout.astro";
import HistoriaImage from "../components/ImagesComponent.astro"
import Imagenuno from "../assets/images/constru.jpeg"
import Imagendos from "../assets/images/Slidevolcan.jpg"
---

<Layout>
    <!-- titulo e Imagen -->
<HistoriaImage name="historia" title="Nuestra Historia" />
    <!-- Descripcion -->
<div> 
    <p class="cards-big">
        AYTUE, cuyo significado en lengua Veliche es “Tierra Amada”, es un establecimiento educacional que se ubica en la comuna Castro, provincia de Chiloé, en la X Región de Los Lagos, de dependencia Municipal Subvencionado, creado oficialmente el 23 de Junio de 1965 con el nombre de escuela D – 75 de Castro Alto, a través del Decreto Ley N° 8063, comenzando su funcionamiento en las dependencias facilitadas por el Centro Hogar Alonso de Ercilla y Zúñiga, ubicado en calle Intendente Arturo García N° 647.
        Posteriormente, en 1992, la escuela cambia otra vez de nombre y pasa a llamarse oficialmente Aytue, tras un concurso interno que realizaron los profesores(as).
        Al nivel de Enseñanza Básica, se suma también la escuela Vespertina de Adultos que nació en el año 1999, y que hoy ofrece la totalidad de cursos de Enseñanza Media, modalidad vespertina.
        En el año 2002 se inicia la Jornada Escolar Completa Diurna (JECD), convirtiéndose en la primera de la comuna, inicia sus atenciones el Módulo Dental y el Proyecto CRA.
        En enero del año 2013 se inician los trabajos de mejoramiento y ampliación de la escuela, se remodelaron 404 metros cuadrados, además de una ampliación de 1.380 metros cuadrados y la construcción de un gimnasio que incluyó camarines.
    </p>
</div>
    <!-- Imagen -->
<div class="imagen-historia">
    <img src={Imagenuno.src} alt="Mejoras y ampliación del Liceo Aytue">
</div>
    <!-- Descripcion 2 -->
<div> 
    <p class="cards-big">
        Desde sus inicios como establecimiento educacional de Enseñanza Básica, mantiene un incremento sostenido de su matrícula, lo que trae en consecuencia, múltiples esfuerzos por mejorar su infraestructura, que evolucionaron desde pabellones hasta el nuevo edificio que, en el año 2014, se inaugura con nuevas y modernas instalaciones, las que significaron una inversión que bordeó los dos mil millones de pesos, y que se suma a los 180 millones que costó la adquisición del mobiliario y equipamiento.
        Cabe destacar que en el año 2015, se comienza a gestionar la ampliación de cobertura para los estudiantes de Educación de Párvulos, niveles NT1 y NT2, lo cual se ve plasmado en el año 2016, incorporándose este nuevo nivel al establecimiento, con una alta demanda de matrícula, con resolución N° 710 del 10 de abril del 2016.
        Actualmente, el Liceo atiende una matrícula de 735 estudiantes distribuidos en los niveles de Educación de Párvulos, niveles NT1 y NT2, Educación de Adultos, Enseñanza Básica completa y, desde marzo de 2021, el primer curso de Enseñanza Media del nuevo Liceo Aytue.    
    </p>
</div>
    <!-- Imagen 2 -->
<div class="imagen-historia !ml-[280px]">
    <img src={Imagendos.src} alt="Paisaje de Chiloé con volcán, historia institucional">
</div>
    <!-- Descripcion 3 -->
<div> 
    <p class="cards-big">
        El establecimiento cuenta con Programa de Integración (PIE), lo que permite atender a los estudiantes con Necesidades Educativas Especiales (NEE) con profesionales especialistas del área.
        Producto de la instauración de la JECD, se desarrollan diversos talleres: Atletismo, Expresión Corporal, Básquetbol, Fútbol, Manualidades, Artes e Instrumental, lo que permite potenciar los diferentes talentos e intereses de los estudiantes.
        Para el cumplimiento de los objetivos estratégicos institucionales, el establecimiento cuenta con acciones planificadas que se desarrollan anualmente, en las áreas de gestión pedagógica, liderazgo, convivencia escolar y gestión de recursos, las que se operacionalizan en el Plan de Mejoramiento Educativo (PME) a cuatro años, el cual está en articulación con otros dispositivos de mejoramiento con que cuenta el establecimiento educacional, destacando que su diseño es altamente participativo, propiciando el mejoramiento de los aprendizajes, en pos de la calidad integral.
        Para posicionar a este establecimiento como una institución con un Sello Tecnológico basado en las NTIC's, se cuenta con medios audiovisuales de comunicación, como son Facebook y recientemente su página web www.liceoaytue.cl, las cuales están destinadas a crear un vínculo mayor en cuanto a conectividad con cada uno de los componentes de la comunidad educativa.    
    </p>
</div>
<!-- Tabla de directores -->
<div class="max-w-4xl mx-auto p-4">
    <div class="overflow-x-auto rounded-lg shadow-md ">
        <table class="w-full text-sm text-left">
            <thead class="text-[15px] text-letras uppercase bg-cards">
                <tr>
                    <th class="px-6 py-3">Periodos</th>
                    <th class="px-6 py-3">Directores/as</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tabla-general">
                    <td class="tabla-texto">1965-1975</td>
                    <td class="tabla-texto2">Prof. Bernardita Miranda Aguilar</td>
                </tr>
                <tr class="tabla-general">
                    <td class="tabla-texto">1976-1985</td>
                    <td class="tabla-texto2">Prof. Bladimiro Santana Vargas</td>
                </tr>
                <tr class="tabla-general">
                    <td class="tabla-texto">1986-1992</td>
                    <td class="tabla-texto2">Prof. Raúl Saldivia Caro</td>
                </tr>
                <tr class="tabla-general">
                    <td class="tabla-texto">1993-2002</td>
                    <td class="tabla-texto2">Prof. Luis Soto Canobra</td>
                </tr>
                <tr class="tabla-general">
                    <td class="tabla-texto">2003-2014</td>
                    <td class="tabla-texto2">Prof. Víctor Balboa Figueroa</td>
                </tr>
                <tr class="tabla-general">
                    <td class="tabla-texto">2015-2019</td>
                    <td class="tabla-texto2">Prof. Luis Vargas Muñoz</td>
                </tr>
                <tr class="tabla-general">
                    <td class="tabla-texto">2020 - a la fecha</td>
                    <td class="tabla-texto2">Prof. Pedro Velásquez Rojas</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</Layout>