---
import Layout from "../layouts/Layout.astro"
---
<Layout>
<!-- Titulo -->
<div class="titulos-base">
  <h1 class="titulos">Infraestructura Disponible para TP</h1>
</div>
<!-- Descripcion -->
<div> 
    <p class="cards-big">
      Con una altísima inversión de parte del establecimiento para implementar una sala-taller con todo el instrumental
       y materiales para realizar sus actividades de especialidad, la carrera TP en Conectividad y Redes, asegura a nuestros
        estudiantes, llevar a la práctica los contenidos en su malla curricular, para que de este modo y en modalidad de práctica
         profesional, puedan adaptarse con éxito a los requisitos de las empresas asociadas para este fin.    
    </p>
</div>
</Layout>