---
import Layout from "../layouts/Layout.astro"
import  MisionyVisionImage  from "../components/ImagesComponent.astro"
---
<Layout>
    <!-- Titulo e Imagen-->
<MisionyVisionImage name="mision" title="Misión y Visión" />
    <!-- Descripcion -->
<div class="m-10">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="titulo-misionyvisionbase">
      <h2 class="titulo-misionyvision">Nuestra Misión</h2>
      <p>
        Asegurar, para los estudiantes del Liceo, en todos sus niveles, una educación innovadora y de excelencia 
        para la vida laboral o continuidad de sus estudios, sustentados en el mejoramiento continuo en todos sus 
        niveles y procesos de aprendizaje.
      </p>
    </div>
    <div class="titulo-misionyvisionbase">
      <h2 class="titulo-misionyvision">Nuestra Visión</h2>
      <p>
        Ser reconocidos como uno de los mejores Liceos de la comuna de Castro, por entregar una educación de calidad, 
        potenciando en nuestros estudiantes las habilidades y competencias académicas, valorales, sociales y tecnológicas 
        que exige una sociedad en constante cambio, respetando los valores propios de nuestra cultura local.
      </p>
    </div>
  </div>
</div>
</Layout>