---
import Layout from "../layouts/Layout.astro"
---
<Layout>
<!-- Titulo -->
<div class="titulos-base">
  <h1 class="titulos">Salidas Pedagógicas de la Especialidad</h1>
</div>
<!-- Descripción-->
<div> 
    <p class="cards-big">
        Dentro de las actividades que realizan desde Tercer Año Medio TP, se destaca las visitas en terreno a diferentes empresas, tanto dentro como fuera de la comuna de Castro, 
        que abren sus puertas para conocer la importancia del área de Informática dentro de sus procesos, tanto de productos como de servicios. <br><br>
        El ciclo de unir Teoría-Práctica se inicia de manera temprana y se intensifica al finalizar la totalidad de asignaturas. Se inicia entonces, el proceso de práctica con las 
        empresas asociadas al Liceo y cuya finalidad es conducir a nuestros estudiantes a la obtención de su título que los habilita para continuar sus estudios en Centros de Formación Técnica, 
        Universidades, emplearse o comenzar su propio emprendimiento.
    </p>
</div>
<!-- videos -->
<div class=" mx-auto grid lg:grid-cols-2 ml-[100px] gap-[24px] p-[24px]">
  <div class="videos-salidas">
    <iframe 
      src="https://drive.google.com/file/d/1LsFExKqEJIQiIuME1EiTwXaFqljeaedd/preview" 
      allow="autoplay"
      class="w-full h-full">
    </iframe>
  </div>
  
  <div class="videos-salidas">
    <iframe 
      src="https://drive.google.com/file/d/1O4XRRE1afCsYOpUEU-z-OZct_rWbZMRP/preview" 
      allow="autoplay"
      class="w-full h-full">
    </iframe>
  </div>
 
  <div class="videos-salidas">
    <iframe 
      src="https://drive.google.com/file/d/1N-vOdQQQSpC64anBOaNuYdmhpXXkESYm/preview" 
      allow="autoplay"
      class="w-full h-full">
    </iframe>
  </div>
  
  <div class="videos-salidas">
    <iframe 
      src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fliceo.aytue%2Fvideos%2F826224352372024%2F&show_text=false&width=560&t=0" 
      style="border:none;overflow:hidden" 
      allowfullscreen="true" 
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
      class="w-full h-full">
    </iframe>
  </div>
</div>
</Layout>
