---
interface Props {
  id: string;
  label: string;
}
const { id, label } = Astro.props;
---
<label for={id} class="block text-sm font-open text-letras">
  {label}
  <input
    id={id}
    name={id}
    type="file"
    required
    class="block w-full mt-1 text-sm text-letras file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:bg-cvfondos hover:file:bg-cvfondos/[0.8]"
  />
</label>
